* {
    color: white;
  }

  body {
    background: linear-gradient(-45deg, rgb(63, 136, 245), rgb(23, 13, 41), rgb(182, 14, 182)) no-repeat;
    background-size: 300% 300%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    height: 100vh;
    font-size: 200%;
    animation: fundo 5s ease infinite;
    text-align: center;
  }

  @keyframes fundo {
    0% {
      background-position: 0 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0 50%;
    }
  }

  .formulario {
    padding-bottom: 30px;

  }

  .formulario::after {
    content: "";
    width: 700px;
    height: 1px;
    background-color: #fff;
    display: block;
    margin-top: 17px;
    margin-left: -50px;
  }

  .caixa {
    width: 200px;
    height: 30px;
    border: 1px solid purple;
    border-radius: 40px;
    color: black;
  }

  .caixa:hover {
    border: 5px solid purple;
  }

  .textcaixa {
    color: white;
    font-family: Arial;
  }

  p {
    font-family: Arial;
  }

  .botao {
    border: none;
  }